@font-face {
	font-family: 'Conv_NeutraText-Bold';
	src: url('../font/NeutraText-Bold.eot');
	src: local('☺'), url('../font/NeutraText-Bold.woff') format('woff'), url('../font/NeutraText-Bold.ttf') format('truetype'), url('../font/NeutraText-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

text {
    font-family: 'Conv_NeutraText-Bold';
		font-size: large;
}

.map{
  fill:#C6C6C6;
  stroke:#FFFFFF;
  stroke-width:1.3032;
  stroke-miterlimit:10;
}

.map2{
  fill:#7dbbd3;
  stroke:#FFFFFF;
  stroke-width:1.3032;
  stroke-miterlimit:10;
}

.cadreReponse{
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-width:1.3032;
  stroke-miterlimit:10;
}

a .map:active{
  opacity: 0.3;
}

body{
  background-color: #EBF4FA;
}

.ocean{
  stroke-miterlimit: 10;
  fill: #EBF4FA;
  stroke: #EBF4FA;
}
