.map{
  fill:#B3D7AB;
  stroke:#FFFFFF;
  stroke-width:1.3032;
  stroke-miterlimit:10;
}

.map2{
  fill:#ccc;
  stroke:#FFFFFF;
  stroke-width:1.3032;
  stroke-miterlimit:10;
}

.cadreReponse{
  fill:#FFFFFF;
  stroke:#FFFFFF;
  stroke-width:1.3032;
  stroke-miterlimit:10;
}
